.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px 0px;
}

.site-content {
  flex: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  margin-top: 1.5px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li {
  text-align: center;
  padding: 14px 12px;
}
nav li .small-text {
  font-size: 14px;
  color: #202124;
  font-family: arial, sans-serif;
}
nav li .menu-button {
  width: 15px;
  padding-top: 0.75px;
  padding-left: 0px;
}
nav li .profile-pic {
  margin-top: 6px;
  border-radius: 50%;
  width: 100%;
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
}
nav .menu-bg {
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
}
nav .menu-bg:hover {
  background-color: rgba(100, 100, 100, 0.1);
  cursor: pointer;
}
nav .profile-bg {
  padding: 3px 3px;
}

#logo {
  align-items: center;
}

.search-wrapper {
  margin-top: 45px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-wrapper form {
  position: relative;
  margin-top: 30px;
}
.search-wrapper form .search-bar {
  width: 530px;
  height: 45px;
  padding-left: 50px;
  font-size: 1.2rem;
  font-family: arial, sans-serif;
  border-radius: 45px;
  border: 1px solid #d3d3d3;
}
.search-wrapper form .search {
  width: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.search-wrapper form .mic {
  width: 15px;
  position: absolute;
  top: 12px;
  left: 540px;
}
.search-wrapper form .buttons {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.search-wrapper form .button {
  border: 1px solid transparent;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
.search-wrapper form .button a {
  text-decoration: none;
  font-family: arial, sans-serif;
  color: #202124;
}
.search-wrapper form .button a:hover {
  text-decoration: underline;
}
.search-wrapper form .button:hover {
  border: 1px solid #eee;
  box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
  cursor: pointer;
}
.search-wrapper form .lang-change {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.search-wrapper form .lang-change a {
  text-decoration: none;
  font-family: arial, sans-serif;
}
.search-wrapper form .lang-change a:hover {
  text-decoration: underline;
}
.search-wrapper form .lang-change p {
  font-size: 14px;
  font-family: arial, sans-serif;
}

footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #f2f2f2;
}
footer .country {
  display: flex;
  align-content: center;
  border-bottom: 1px solid #ddd;
  height: 17px;
  padding: 15px 30px;
  margin: 0px 0px;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}
footer .panel {
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 0px 20px;
}
footer .panel ul {
  display: flex;
  list-style: none;
  align-items: center;
}
footer .panel ul li {
  text-align: center;
  width: fit-content;
}
footer .panel ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-family: arial, sans-serif;
  color: #202124;
}
footer .panel * {
  flex-basis: 33%;
}
footer .right {
  justify-content: flex-end;
}

/*# sourceMappingURL=styles.css.map */
