$background-color:white;
$font-color: #202124;
$font-size: 14px;
$font-family: arial,sans-serif;
*{
    margin: 0px;
}
body{
    font-family: $font-family;
    background-color: $background-color;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

nav{
    display:flex;
    justify-content: flex-end;
    height: 60px;
    padding: 20px 10px;
     ul{
        display: flex;
        list-style: none;
        align-items: center;
     }
     li{
        text-align: center;
        padding: 14px 12px;
        .small-text{
            font-size: $font-size;
            color:$font-color;
        }
        .menu-button{
            width: 15px;
            padding-top: .75px;
            padding-left: 0px;
        }
        .profile-pic{
            margin-top: 6px;
            border-radius: 50%;
            width:100%
        }
     }
    .menu-bg{
        width: 17.5px;
        height: 17.5px;
        border-radius: 50%;

    }
    .menu-bg:hover{
        background-color: rgba(100,100,100,0.1);
        cursor: pointer;
    }    
}

#logo{
    align-items: center;
}
.search-wrapper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



footer{
    width: 100%;
    background-color: #f2f2f2;
    .panel{
        border-bottom: 1px solid #ddd;
        height: 15px;
        display: flex;
        justify-content: space-between;
        padding: 2.5px;
        *{
            flex-basis: 33%;
        }
        p{
            color: grey;
            padding-left: 13px;
        }
        .right {
            justify-content: flex-end;
        }
        ul{
            display: flex;
            list-style: none;
            align-items: center;
        }
         li{
            text-align: center;
            padding: 5px 12px;
        }
    }
}