$background-color:#202124;
$font-color: #bdc1c6;

body{
    background-color:$background-color;
}
.text{
    color:$font-color;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color:$font-color;
}